#presentation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    color: #063940;
}


#span_texts {
    padding: 30px;
    font-family: "Rubic", Arial, sans-serif;
    padding-left: 7%;
    font-weight: bold;

}

#span_texts>h3 {
    color: #063940;
}

#span_texts>h1,
h2,
h4 {
    color: #063940;
}

#btn {
    height: 50px;
    width: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #3d4351;
}

#container_presentation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#img_presentation {
    height: 400px;
    width: 400px;
    padding-right: 7%;
}