#header_component {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 4%;
}

#header_component>ul {
  display: flex;
  flex-direction: row;
  background-color: white;
  gap: 50px;
  margin-right: 10px;
  list-style: none;
  font-weight: bold;
  height: 50px;
  width: 500px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  font-size: 17px;
  color: #063940;
}