html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(#3e838c, white);
  background-attachment: fixed;
  /* Para garantir que o gradiente permaneça fixo */
}


@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}